<<<<<<< HEAD
.linkt-divider {
=======
.mmd-divider {
>>>>>>> 014acdfbeef5dd5d7bc3cd2cdacd60dbb775075c
	box-shadow: 0 4px 0 rgb(224 224 224);
	display: block;
	height: 1px;
	width: 100%;
	margin: 10px 0 30px;
}
<<<<<<< HEAD
.linkt-hide {
=======
.mmd-hide {
>>>>>>> 014acdfbeef5dd5d7bc3cd2cdacd60dbb775075c
	display: none !important;
}
/**
 * Linkt ColorPicker Component
 */
<<<<<<< HEAD
.components-dropdown.linkt-colorpicker {
	width: 100%;
	margin: 0 0 15px;
}
.components-button.linkt-colorpicker-btn {
=======
.components-dropdown.mmd-colorpicker {
	width: 100%;
	margin: 0 0 15px;
}
.components-button.mmd-colorpicker-btn {
>>>>>>> 014acdfbeef5dd5d7bc3cd2cdacd60dbb775075c
	box-shadow: 0 0 0 1px #e0e0e0;
	padding: 14px 12px;
	width: 100%;
	text-decoration: none;
	color: #545454;
}
<<<<<<< HEAD
.components-button.linkt-colorpicker-btn .component-color-indicator {
	margin: 0 10px 0 0;
}
.components-button.linkt-colorpicker-btn:hover {
=======
.components-button.mmd-colorpicker-btn .component-color-indicator {
	margin: 0 10px 0 0;
}
.components-button.mmd-colorpicker-btn:hover {
>>>>>>> 014acdfbeef5dd5d7bc3cd2cdacd60dbb775075c
	box-shadow: 0 0 0 1px #b9b9b9;
}
