body.wp-admin #adminmenu #menu-posts-linkt ul.wp-submenu li:last-child {
	display: none !important;
}
/* ---- Update Notice Styling ---- */
.linkt-admin-notice {
	position: relative;
	padding: 12px;
}
.linkt-admin-notice a.notice-dismiss {
	text-decoration: none;
}
.linkt-admin-notice .linkt-notice-title {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 500;
	color: #222;
}
.linkt-admin-notice .linkt-notice-title b {
	color: #b14beb;
}
.linkt-admin-notice p.linkt-notice-text {
	margin: 5px 0 0;
	padding: 0;
}
.linkt-notice.inline p.linkt-notice-text,
.linkt-notice.inline a.linkt-notice-btn {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 5px;
}

/* -- Loader - Used in Settings & Dashboard Widget -- */
.linkt-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	z-index: 2;
}
.linkt-loader * {
	box-sizing: border-box;
}
.linkt-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid #b1b5d52b;
	mix-blend-mode: overlay;
}

.linkt-loader-sector-pink {
	animation: rotate 2s ease-out infinite;
	border-top: 3px solid #f091ff;
}
.linkt-loader-sector-blue {
	animation: rotate 2.5s ease-in infinite;
	border-top: 3px solid #6883ec;
}
.linkt-loader-sector-purple {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 3px solid #b14beb;
}
.linktSaveBtnLoader {
	width: 56px;
	height: 56px;
	position: relative;
	margin: 0 0 0 10px;
}
.linktSettingBarMain .linkt-loader-wrap {
	padding-top: 0;
	align-items: center;
}
.linktSettingBarMain .linkt-loader {
	width: 40px;
	height: 40px;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
