.linkt-loading {
	height: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.linkt-chart.open .linkt-loading {
	height: 100%;
}
.linkt-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding-bottom: 10px;
	font-weight: bold;
}
.linkt {
	margin: 0 0 4px;
	padding: 0 0 4px;
}
.linkt-element {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.linkt-title {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-transform: capitalize;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.linkt-title span {
	margin-right: 6px;
}
.linkt-icon {
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.linkt-clicks,
.linkt-actions {
	width: 80px;
	text-align: center;
}
.linkt-action {
	font-size: 14px;
	margin-left: 8px;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
.linkt-action:hover {
	color: #516ee0;
}
.linkt-action:first-child {
	margin-left: 0;
}
.linkt-action.copied {
	color: #03b60c;
}

.linkt-chart {
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.25s ease-in-out;
	transition: height 0.25s ease-in-out;
}
.linkt-chart.open {
	-webkit-box-shadow: 0 1px #c3c4c7;
	        box-shadow: 0 1px #c3c4c7;
	height: 265px;
	padding: 0 0 15px;
}
.linkt:last-child .linkt-chart.open {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.linkt-dash-stats-url {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 10px 10px;
	margin: 8px 0 2px;
	position: relative;
}
.linkt-dash-url {
	-webkit-box-shadow: 0 0 0 1px #3c434a;
	        box-shadow: 0 0 0 1px #3c434a;
	background-color: #f9f9f9;
	border-radius: 3px;
	padding: 6px 10px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.linkt-dash-url.copied {
	background-color: #f8fff8;
	-webkit-box-shadow: 0 0 0 1px #03b60c;
	        box-shadow: 0 0 0 1px #03b60c;
}
.linkt-dash-stats-url .linkt-action {
	margin-right: 8px;
}
.linkt-url-note {
	position: absolute;
	top: 12px;
	right: 16px;
	height: 25px;
	background-color: #f9f9f9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 11px;
	letter-spacing: 0.3px;
	color: #b3b3b3;
}

.linkt-dash-stats .linkt-post-meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 8px 10px;
	line-height: 0;
}
.linkt-dash-stats select#linkt-stats-select {
	font-size: 12px;
	min-height: 26px;
}

.linkt-dash-footer {
	-webkit-box-shadow: 0 -1px 0 #c3c4c7;
	        box-shadow: 0 -1px 0 #c3c4c7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 10px;
	padding-top: 8px;
}
.linkt-footer a {
	font-size: 12px;
	letter-spacing: 0.3px;
	text-decoration: none;
	color: inherit;
}
.linkt-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 140px;
}
.linkt-pagination span {
	font-size: 12px;
	letter-spacing: 1.5px;
	opacity: 0.7;
}
.linkt-pagination span.fa-solid {
	cursor: pointer;
	height: 20px;
	width: 40px;
	font-size: 1.05em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	opacity: 1;
}
.linkt-pagination span.fa-solid:hover {
	color: #516ee0;
}

.linkt-catitem {
	-webkit-box-shadow: 0 1px 0 #c3c4c7;
	        box-shadow: 0 1px 0 #c3c4c7;
	margin: 0 0 6px;
	padding: 0 0 4px;
	cursor: pointer;
}
.linkt-catitem:last-child,
.linkt-catitem .linkt:last-child {
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin: 0;
	padding: 0;
}
.linkt-cat-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 1.05em;
	font-weight: 600;
	color: #2a2c2f;
	text-transform: capitalize;
}
.linkt-catitem:hover .linkt-cat-title,
.linkt-cat-title.open {
	color: #516ee0;
}
.linkt-catitem .fa-chevron-right {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.linkt-catitem .fa-chevron-right.open {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.linkt-cat-inner {
	padding: 10px 0 7px 6px;
}
.linkt-catitem .linkt-loader-wrap {
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.linkt-catitem .linkt-loader-wrap .linkt-loader-sector {
	border-width: 2px;
}
.linkt-catitem .linkt-actions {
	text-align: right;
}

.linkts-not-found {
	padding: 10px;
	text-align: center;
	color: #989898;
	font-size: 12px;
}
.linkts-not-found a {
	margin: 0 0 0 6px;
	text-decoration: none;
}
.linkts-not-found a:hover {
	text-decoration: underline;
}

